extends layout

include includes/rating

block content
  #banner
    .row
      .col-lg-6
        h1= pageHeader.title
          small &nbsp;#{pageHeader.subTitle}
  .row
    .col-xs-12.col-sm-8
      .error= message
      .row.list-group
        each location in locations
          .col-xs-12.list-group-item
            h4
              a(href='/location/' + location._id)= location.name
              small.px-2
                +outputRating(location.rating)
              span.badge.bg-primary= location.distance
            p= location.address
            div.row.gx-1
              each facility in location.facilities
                div.col.col-auto.px-1
                  div.alert.alert-secondary.m-0=facility
    .col-xs-12.col-sm-4
      p.lead= sidebar
