extends layout

include includes/rating

block content
  .row
    .col-lg-12
      h1= name
        small.px-2
          +outputRating(rating)
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p= address
          .card
            .card-body
              h2.card-title Opening hours
              div
                for i in schedule
                  p= i
          .card
            .card-body
              h2.card-title Facilities
              .row.gx-1
                each facility in facilities
                  div.col.col-auto.px-1
                    div.alert.alert-secondary.m-0=facility
        .col-xs-12.col-sm-6.location-map
          .card
            .card-body
              h2.card-title Location map
              div
                img.img-responsive.img-rounded(src=img)
      .row
        .col-xs-12
          .card
            .card-body
              div
                a.btn.btn-primary.float-end(href='/location/review/new') Add review
                h2.card-title Customer reviews
              .review-container
                for review in reviews
                  .row
                    .review
                      .row.gx-3
                        .col.col-auto.px-2
                          +outputRating(review.rating)
                        .col.col-auto= review.date
                      .col-xs-12
                        p= review.review
    .col-xs-12.col-md-3
      for content in placeContents
        p.lead= content

